# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# C
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dylib
*.dll
*.lo
*.la
*.i
*.ii
*.s
*.su
*.swp
*.d
*.gcno
*.gcda
*.gcov